:root {
    --tcolor1: #ffff;
    --tcolor2: #242b2e;
    --tcolor3: #0d6efd;
    --tcolor4: #eff6ff;
    --tcolor5: #dbeafe;
    --tcolor6: #16242e;
}

@import url("https://fonts.cdnfonts.com/css/gravedigger");

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: var(--tcolor2);
}
.dark-mode {
    background-color: var(--tcolor6);
    color: white;
}
.themeBtn {
    width: 60px;
    height: 30px;
    font-size: 22px;
    border: none;
    box-shadow: 3px 3px 10px #8080806b;
    border-radius: 10px;
}
#google_translate {
    height: 30px;
    overflow: hidden;
    border: none;
    box-shadow: 3px 3px 10px #8080806b;
    border-radius: 10px;
    margin: 0 4px;
}
/* Logo  */
header {
    background-color: #242b2e94;
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
    width: 100%;
    color:white;
    background-size: cover;
    background-repeat: none;
    height: 60px;
    margin-bottom: 0px;
}
.logo img {
    height: 40px;
}
.logo span {
    font-weight: bold;
    font-family: "Gravedigger", sans-serif;
    font-size: 22px;
}

/* cover  */
.coverBG {
    background-image:linear-gradient(45deg,#00000011,#ffff0000,#008000a1), url("./assets/images/background/galaxy.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coverTitle{
    letter-spacing: 20px;
}
.coverTitle2{
    letter-spacing: 10px;
    color:rgb(183, 183, 183);
}
.coverText{
    position: relative;
    z-index: 999;
}
.gitBTN{
    height: 70px;
    background-color: var(--tcolor2);
    border-radius: 10px;
    border:none;
    padding: 10px;
    color:white;
    text-decoration: none;
}
.gitBTN:hover{
    color:white;
}

.gitBTN i{
    font-size: 30px;
    padding-right: 10px;
}
.gitbtnText1{
    letter-spacing: 5px;
    font-size: 8px;
    margin: 0px;
}
.gitbtnText2{
    font-size: 25px;
    letter-spacing: 4px;
    margin: 0px;
}
/* main  */
/* project  */
.project-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--tcolor3);
}
.projectBG {
    background-image: url("./assets/images/background/bg12.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.project-item {
    position: relative;
    width: 100%;
}
.project-item-img {
    transition: 1s;
}
.project-item-img1 {
    height: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 10px #8080806b;
}
.project-item-img2 {
    height: 300px;
    width: 50%;
    border-radius: 10px;
    position: relative;
    right: 0;
    left: 40%;
    padding: 10px;
    box-shadow: 3px 3px 10px #8080806b;
}
.project-item-title {
    font-size: 25px;
    font-weight: 400;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    top: 20px;
    text-align: center;
}

.project-link {
    text-decoration: none;
    color: var(--tcolor1);
    font-weight: bold;
    background-color: var(--tcolor3);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #8080806b;
    position: absolute;
    top: 50%;
    left: 32.5%;
    display: none;
}
.project-technology {
    text-align: center;
    font-weight: 900;
    color: var(--tcolor2);
    position: absolute;
    top: 40%;
    width: 100%;
    display: none;
    letter-spacing: 3px;
}
.project-link:hover {
    color: var(--tcolor1);
}

.project-item:hover .project-item-img {
    opacity: 40%;
}
.project-item:hover .project-link {
    display: block;
}
.project-item:hover .project-technology {
    display: block;
}
/* project end  */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
