@import url("https://fonts.cdnfonts.com/css/gravedigger");

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
:root {
    --primaryColor: #ffff;
    --secondaryColor: #242b2e;
    --hilightColor: #FFC107;
    --themeColor: #16242e;
    --shadowColor: #8080806b;
    --glassColor:#242b2e94;
    --offWhiteColor:#dcdcdc;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: var(--themeColor);
    color: var(--primaryColor);
}
.dark-mode {
    background-color: var(--primaryColor);
    color: var(--themeColor);
}
/* for particels  */
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.themeBtn {
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: none;
    box-shadow: 3px 3px 10px var(--shadowColor);
    border-radius: 100%;
}

.toggleBTN{
    border:none;
}

#google_translate {
    height: 30px;
    overflow: hidden;
    border: none;
    box-shadow: 3px 3px 10px var(--shadowColor);
    border-radius: 10px;
    margin: 0 4px;
}
/* Logo  */
.header {
    background-color: var(--glassColor);
    width: 100%;
    color: var(--primaryColor);
    background-size: cover;
    background-repeat: none;
    margin-bottom: 0px;
}

.logoImg{
    height: 40px;
}
.logoText {
    font-weight: bold;
    font-family: "Gravedigger", sans-serif;
    font-size: 22px;
}
.navLink {
    text-decoration: none;
    transition: 1s;
    letter-spacing: 5px;
    color: var(--primaryColor);
    padding-right: 5px;
}
.navLink:hover {
    color: var(--hilightColor);
    text-decoration: underline transparent;
}

/* cover  */
.coverBG {
    background-image: linear-gradient(45deg, #00000011, #ffff0000, #008000a1),
        url("./assets/images/background/galaxy.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coverTitle {
    letter-spacing: 10px;
    font-family: "Gravedigger", sans-serif;
}
.coverTitle2 {
    letter-spacing: 10px;
    color: var(--offWhiteColor);
}
.coverText {
    position: relative;
    z-index: 999;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.gitBtn-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}
.gitBTN {
    height: 70px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: var(--primaryColor);
    text-decoration: none;
    width: 150px;
}
.gitBTN:hover {
    color: var(--primaryColor);
}

.gitBTN i {
    font-size: 30px;
    padding-right: 10px;
}
.gitbtnText1 {
    letter-spacing: 5px;
    font-size: 8px;
    margin: 0px;
}
.gitbtnText2 {
    font-size: 25px;
    letter-spacing: 4px;
    margin: 0px;
}
/* main  */
/* project  */
.project-title1 {
    letter-spacing: 10px;
    font-size: 25px;
    color:var(--hilightColor);
}
.project-title2 {
    font-size: 20px;
    color: var(--offWhiteColor);
    letter-spacing: 10px;
}
.projectBG {
    background-image: url("./assets/images/background/bg12.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 100px;
}
.project-item {
    position: relative;
    width: 100%;
}
.project-item-img {
    transition: 1s;
}
.project-item-img1 {
    height: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 10px var(--shadowColor);
}
.project-item-img2 {
    height: 300px;
    width: 50%;
    border-radius: 10px;
    position: relative;
    right: 0;
    left: 40%;
    padding: 10px;
    box-shadow: 3px 3px 10px var(--shadowColor);
}
.project-item-title {
    font-size: 25px;
    font-weight: 400;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    top: 20px;
    text-align: center;
}

.project-link {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
    background-color: var(--hilightColor);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadowColor);
    position: absolute;
    top: 50%;
    left: 32.5%;
    display: none;
}
.project-technology {
    text-align: center;
    font-weight: 900;
    color: var(--secondaryColor);
    position: absolute;
    top: 40%;
    width: 100%;
    display: none;
    letter-spacing: 3px;
}
.project-link:hover {
    color: var(--primaryColor);
}

.project-item:hover .project-item-img {
    opacity: 40%;
}
.project-item:hover .project-link {
    display: block;
}
.project-item:hover .project-technology {
    display: block;
}
#moreProectRow {
    display: none;
}
#showProjectBtn {
    letter-spacing: 5px;
}
/* project end  */

/* lessons title  */

.lessonsTitle1 {
    font-size: 25px;
    letter-spacing: 10px;
    color:var(--hilightColor);
}
.lessonsTitle2 {
    color: var(--offWhiteColor);
    letter-spacing: 10px;
    font-size: 20px;
}
.fullLessons {
    width: 100%;
    height: 300px;
    float: left;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--offWhiteColor);
}

.lessonsCover {
    height: 300px;
    width: 100%;
    padding: 10px;
    font-size: 60px;
}
.lessonsCover img {
    height: 200px;
}

.lessonsBody {
    position: absolute;
    background: var(--glassColor);
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    color: var(--primaryColor);
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    overflow-y: scroll;
}

.fullLessons:hover .lessonsBody {
    top: 0;
}

.lessonsName {
    position: sticky;
    top: 0;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    letter-spacing: 10px;
}

.lessonsChapter {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    text-decoration: none;
    margin: 5px 0;
    letter-spacing: 5px;
    transition: 1s;
}
.lessonsChapter:hover {
    font-size: 20px;
    padding: 15px 0;
}
